stack-data==0.6.3
charset-normalizer==3.4.2
Pygments==2.19.1
anyio==4.9.0
gunicorn==23.0.0
SQLAlchemy==1.4.54
findspark==2.0.1
rich-argparse==1.7.0
apache-airflow-task-sdk==1.0.0
platformdirs==4.3.8
matplotlib-inline==0.1.7
structlog==25.3.0
GitPython==3.1.44
fastapi==0.115.12
pluggy==1.5.0
python-multipart==0.0.20
pytz==2025.2
Faker==37.1.0
pymongo==4.12.1
alembic==1.15.2
apache-airflow-core==3.0.0
croniter==6.0.0
httpx==0.28.1
prompt_toolkit==3.0.51
tornado==6.4.2
attrs==25.3.0
apache-airflow-providers-common-sql==1.26.0
gitdb==4.0.12
mdurl==0.1.2
httptools==0.6.4
lazy-object-proxy==1.11.0
retryhttp==1.3.3
requests==2.32.3
types-requests==2.32.0.20250328
itsdangerous==2.2.0
opentelemetry-exporter-otlp==1.32.1
termcolor==3.1.0
zipp==3.21.0
packaging==25.0
python-slugify==8.0.4
numpy==2.2.5
fsspec==2025.3.2
shellingham==1.5.4
sniffio==1.3.1
uvloop==0.21.0
pydantic==2.11.4
python-dotenv==1.1.0
decorator==5.2.1
opentelemetry-exporter-otlp-proto-common==1.32.1
libcst==1.7.0
typer==0.15.3
pandas==2.2.3
click==8.1.8
email_validator==2.2.0
confluent-kafka==2.10.0
apache-airflow==3.0.0
PyJWT==2.10.1
SQLAlchemy-Utils==0.41.2
aiosqlite==0.21.0
kafka-python==2.2.6
starlette==0.46.2
typing-inspection==0.4.0
text-unidecode==1.3
jedi==0.19.2
rpds-py==0.24.0
tenacity==9.1.2
log-generator==1.0.2
wcwidth==0.2.13
nest-asyncio==1.6.0
Flask==3.1.0
smmap==5.0.2
opentelemetry-sdk==1.32.1
svcs==25.1.0
python-daemon==3.1.2
rich==14.0.0
annotated-types==0.7.0
parso==0.8.4
opentelemetry-proto==1.32.1
msgspec==0.19.0
executing==2.2.0
dill==0.4.0
jsonschema==4.23.0
cadwyn==5.3.3
traitlets==5.14.3
lockfile==0.12.2
apache-airflow-providers-standard==1.1.0
a2wsgi==1.10.8
markdown-it-py==3.0.0
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-api==1.32.1
opentelemetry-semantic-conventions==0.53b1
pathspec==0.12.1
psutil==7.0.0
apache-airflow-providers-common-io==1.5.4
pexpect==4.9.0
cron-descriptor==1.4.5
blinker==1.9.0
linkify-it-py==2.0.3
SQLAlchemy-JSONField==1.0.2
universal_pathlib==0.2.6
h11==0.16.0
ipython==8.36.0
argcomplete==3.6.2
importlib_metadata==8.6.1
PyYAML==6.0.2
opentelemetry-exporter-otlp-proto-grpc==1.32.1
py4j==0.10.9.7
greenlet==3.2.1
debugpy==1.8.14
pendulum==3.1.0
jupyter_client==8.6.3
uvicorn==0.34.2
tabulate==0.9.0
pydantic_core==2.33.2
cffi==1.17.1
asttokens==3.0.0
wirerope==1.0.0
uuid6==2024.7.10
asgiref==3.8.1
uc-micro-py==1.0.3
sqlparse==0.5.3
Mako==1.3.10
certifi==2025.4.26
googleapis-common-protos==1.70.0
jsonschema-specifications==2025.4.1
fastapi-cli==0.0.7
pyspark==3.4.2
watchfiles==1.0.5
methodtools==0.4.7
aiologic==0.14.0
ipykernel==6.29.5
apache-airflow-providers-smtp==2.0.3
six==1.17.0
MarkupSafe==3.0.2
dnspython==2.7.0
typing_extensions==4.13.2
pure_eval==0.2.3
referencing==0.36.2
colorlog==6.9.0
rich-toolkit==0.14.5
Jinja2==3.1.6
websockets==15.0.1
httpcore==1.0.9
setproctitle==1.3.6
Werkzeug==3.1.3
exceptiongroup==1.3.0
more-itertools==10.7.0
jupyter_core==5.7.2
pyzmq==26.4.0
cryptography==44.0.3
colorama==0.4.6
pycparser==2.22
apache-airflow-providers-common-compat==1.6.1
Django==5.2.1
idna==3.10
protobuf==5.29.4
wrapt==1.17.2
Deprecated==1.2.18
python-dateutil==2.9.0.post0
comm==0.2.2
grpcio==1.71.0
tzdata==2025.2
urllib3==2.4.0
ptyprocess==0.7.0
